{% extends 'base.html' %}

{% block title %}Inscription{% endblock %}

{% block content %}
<header class="masthead">
    <div class="container h-100">
      <div class="row h-100 align-items-center justify-content-center text-center">
          <div class="col-lg-10 align-self-end">
            <h1 class="text-uppercase text-white font-weight-bold">Inscription - Validation</h1>
            <hr class="divider my-4">
          </div>
          <div class="col-lg-8 align-self-baseline text-white">
              <p class="text-white">Veuillez saisir un mot de passe sécurisé d'au moins 8 caractères</p>
              <div role='alert' class="alert alert-danger" id="message">Saisissez les mots de passe</div><br/>
              <form action="" id="activate2" method='POST'>
                  {% csrf_token %}
                  <label for="id_new_password1">Nouveau mot de passe :</label><br/>
                  <input type="password" name="new_password1" required=""
                  id="id_new_password1"><br/>
                  <label for="id_new_password2">Confirmation :</label><br/>
                  <input type="password" name="new_password2" required=""
                  id="id_new_password2"><br/><br/>
                  <input id="submit" class="btn btn-primary"
                  type="submit" value="Valider" disabled>
              </form>
          </div>
      </div>
    </div>
</header>
{% endblock %}

{% block bottom_scripts %}
<script type="text/javascript">
function prevent(e) {
    e.preventDefault();
}
function handle_form() {
    pwd1 = document.querySelector('#id_new_password1');
    pwd2 = document.querySelector('#id_new_password2');
    form = document.querySelector('#activate2');
    submit = document.querySelector('#submit');
    msg = document.querySelector('#message');
    if (pwd1.value == pwd2.value) {
      msg.classList.replace('alert-danger', 'alert-success');
      msg.innerHTML = 'Les mots de passe sont identiques';
      submit.disabled = false;
    } else {
      msg.classList.replace('alert-success', 'alert-danger');
      msg.innerHTML = 'Les mots de passe sont différents';
      submit.disabled = true;
      document.querySelector('#activate2').removeEventListener('submit', prevent);
    }
}
document.querySelector('#activate2').addEventListener('submit', prevent);
document.querySelector('#id_new_password1').addEventListener('keyup', handle_form);
document.querySelector('#id_new_password2').addEventListener('keyup', handle_form);

</script>
{% endblock %}
